@import "tailwindcss";

@theme {
    --color-Cgray-100: #f0f8ff;  /* for font footer */
    --color-Cgray-200: #212529;  /* for contact   */
    --color-Cgray-500: #2C3E50;  /* for navbar and part of footer  */
    --color-Cgray-900: #1A252F;  /* footer  */
    --color-Cgreen-500: #1ABC9C; /* for home about  */
}
/* reusable Compoent */

/* container */
.container{
    @apply mx-auto px-4 xl:px-32
}

/* Buttons */
.custom-btn {
    @apply text-base py-2 px-2 
}

.custom-btn.active {
    @apply bg-Cgreen-500 rounded-md
}

/* helping in respoinsive  */
.row {
    @apply flex flex-wrap 
}
/* center items in middle */
.flex-center {
    @apply flex items-center justify-center
}

/* social links */
.social-icons{
    @apply size-10 border-1 flex items-center justify-center rounded-full  hover:bg-white hover:text-Cgray-500 hover:scale-110 cursor-pointer transition-[scale] duration-200
}
